.page {
  margin: 60px 0;
}

.header,
.footer {
  max-width: var(--max-width-s);
  padding: 0 var(--baseline);
}

.header,
.footer,
.featuredImage {
  margin: 0 auto;
}

.featuredImage {
  max-width: var(--max-width-m);
  margin-bottom: 60px;
}

.footer {
  text-align: center;
}

.footer hr {
  margin: 60px 0;
  border: 0;
  border-top: 1px solid #e4e4e4;
}
